# Assignment 1: Question 2

Consider the _Salaries.csv_ dataset containing San Francisco city employee salary data.

In [25]:
import pandas as pd

In [26]:
file_path = 'C:/STK/Assignment 1/Salaries.csv'
df = pd.read_csv(file_path)

1. How many rows does the _Salaries.csv_ dataset have?

In [27]:
count_rows = len(df)
print(f"Number of rows in salaries dataset: {count_rows}")

Number of rows in salaries dataset: 148654

2. Retrieve the column names.

In [28]:
column_names = df.columns
print("Column names:")
for column in column_names:
    print(column)

Column names:
Id
EmployeeName
JobTitle
BasePay
OvertimePay
OtherPay
Benefits
TotalPay
TotalPayBenefits
Year
Notes
Agency
Status

3. Use an appropriate method to retrieve the first 10 rows of the data.

In [29]:
first_ten_rows = df.head(10)
print("First ten rows of the DataFrame:")
print(first_ten_rows)

First ten rows of the DataFrame:
   Id        EmployeeName                                        JobTitle  \
0   1      NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2        GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3      ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4   CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5     PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
5   6      DAVID SULLIVAN                       ASSISTANT DEPUTY CHIEF II
6   7           ALSON LEE              BATTALION CHIEF, (FIRE DEPARTMENT)
7   8       DAVID KUSHNER                  DEPUTY DIRECTOR OF INVESTMENTS
8   9      MICHAEL MORRIS              BATTALION CHIEF, (FIRE DEPARTMENT)
9  10  JOANNE HAYES-WHITE          CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19
5  118602.00      8601.00  189082.74       NaN  316285.74         316285.74
6   92492.01     89062.90  134426.14       NaN  315981.05         315981.05
7  256576.96         0.00   51322.50       NaN  307899.46         307899.46
8  176932.64     86362.68   40132.23       NaN  303427.55         303427.55
9  285262.00         0.00   17115.73       NaN  302377.73         302377.73

   Year  Notes         Agency  Status
0  2011    NaN  San Francisco     NaN
1  2011    NaN  San Francisco     NaN
2  2011    NaN  San Francisco     NaN
3  2011    NaN  San Francisco     NaN
4  2011    NaN  San Francisco     NaN
5  2011    NaN  San Francisco     NaN
6  2011    NaN  San Francisco     NaN
7  2011    NaN  San Francisco     NaN
8  2011    NaN  San Francisco     NaN
9  2011    NaN  San Francisco     NaN

4. What is the average BasePay?

In [30]:
mean_base_pay = df['BasePay'].mean()
print(f"Average 'BasePay': {mean_base_pay}")

Average 'BasePay': 66325.4488404877

5. What is the highest amount of OvertimePay in the dataset?

In [31]:
highest_overtime_pay = df['OvertimePay'].max()
print(f"Highest 'OvertimePay Amount': {highest_overtime_pay}")

Highest 'OvertimePay Amount': 245131.88

6. What is the job title of PATRICIA GRANDBERRY?

In [32]:
employee_name = 'PATRICIA GRANDBERRY'
job_title = df[df['EmployeeName'] == employee_name]['JobTitle'].iloc[0]
print(f"The job title of {employee_name} is: {job_title}")

The job title of PATRICIA GRANDBERRY is: PUBLIC HEALTH NURSE

7. What is the name of the highest paid person including benefits (TotalPayBenefits)?

In [33]:
max_TotalPayBenefits_row = df[df['TotalPayBenefits'] == df['TotalPayBenefits'].max()]
employee_with_highest_pay = max_TotalPayBenefits_row['EmployeeName'].iloc[0]
print(f"The employee with the highest total pay is: {employee_with_highest_pay}")

The employee with the highest total pay is: NATHANIEL FORD

In [34]:
#Name of the lowest paid person
max_TotalPayBenefits_row = df[df['TotalPayBenefits'] == df['TotalPayBenefits'].min()]
employee_with_lowest_pay = max_TotalPayBenefits_row['EmployeeName'].iloc[0]
print(f"The employee with the lowest total pay is: {employee_with_lowest_pay}")

The employee with the lowest total pay is: Joe Lopez

8. What was the average TotalPayBenefits of all employees per year?

In [18]:
average_TotalPayBenefits_per_year = df.groupby('Year')['TotalPayBenefits'].mean()
print("Average TotalPayBenefits per year:")
print(average_TotalPayBenefits_per_year)

Average TotalPayBenefits per year:
Year
2011     71744.103871
2012    100553.229232
2013    101440.519714
2014    100250.918884
Name: TotalPayBenefits, dtype: float64

9. How many unique job titles are there?

In [35]:
unique_job_titles = df['JobTitle'].nunique()

print(f"Number of unique job titles: {unique_job_titles}")

Number of unique job titles: 2159

10. What are the top 10 most common jobs? Take note of how many people have these jobs titles.

In [21]:
job_titles = df['JobTitle'].value_counts()
top_10_common_jobs = job_titles.head(10)
print("Top 10 most common job titles by workers count:")
print(top_10_common_jobs)

Top 10 most common job titles by workers count:
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Custodian                       2418
TRANSIT OPERATOR                2388
Firefighter                     2359
Recreation Leader               1971
Patient Care Assistant          1945
Name: JobTitle, dtype: int64

11. What was the average BasePay for Firefighters in each year?

In [37]:
firefighter_df = df[df['JobTitle'].str.contains('Firefighter')]
gardener_df = df[df['JobTitle'].str.contains('Gardener')]

In [ ]:
average_base_pay_py = firefighter_df.groupby('Year')['BasePay'].mean()
print("Average BasePay for Firefighters in each year:")
print(average_base_pay_py)

In [38]:
average_base_pay_py_grdner = gardener_df.groupby('Year')['BasePay'].mean()
print("Average BasePay for Gardener's in each year:")
print(average_base_pay_py_grdner)

Average BasePay for Gardener's in each year:
Year
2012    48839.218840
2013    53016.699567
2014    50893.426636
Name: BasePay, dtype: float64

<h3><center>End of Question 2</center></h3>