# Assignment 1: Question 1

Consider the _Payroll.csv_ dataset.

In [2]:
import pandas as pd

In [3]:
file_path = 'C:/STK/Assignment 1/Payroll.csv'
df = pd.read_csv(file_path)

1. How many rows does the dataset contain?

In [4]:
count_rows = len(df)
print(f"Number of rows in payroll dataset: {count_rows}")

Number of rows in payroll dataset: 148867

2. What is the data type of each column?

In [5]:
column_data_types = df.dtypes
print(column_data_types)

EmployeeName     object
JobTitle         object
BasicSalary     float64
OvertimePay     float64
OtherPay        float64
TotalPay        float64
Year            float64
Agency           object
dtype: object

3. a. How many duplicate rows are there in the dataset?

In [6]:
duplicates = df.duplicated()
sum_duplicates = duplicates.sum()
print(f"Number of duplicate rows is: {sum_duplicates}")

Number of duplicate rows is: 222

3. b. Delete the duplicate rows. How many rows are left in the dataset?

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
sum_rows_remaining = len(df)
print(f"Number of rows remaining: {sum_rows_remaining}")

Number of rows remaining: 148645

**IMPORTANT: Use the new dataset (with the duplicates removed) to answer the remaining questions.**

4. How many missing values are there in each column?

In [9]:
missing_values_PC = df.isna().sum()
print("Number of missing values per column:")
print(missing_values_PC)

Number of missing values per column:
EmployeeName      0
JobTitle          0
BasicSalary     606
OvertimePay     150
OtherPay         14
TotalPay          0
Year            183
Agency          128
dtype: int64

5. What is the average BasicSalary?

In [10]:
mean_basic_salary = df['BasicSalary'].mean()
print(f"Average BasicSalary: {mean_basic_salary}")

Average BasicSalary: 66333.88672680849

6. The BasicSalary column has missing data. 

    a.   Replace the missing values with the median value of the column. 
   
    b.  What do you call this method of handling missing data?
   
    c. Recalculate the average BasicSalary. How did it change?

In [11]:
median_basic_salary = df['BasicSalary'].median()
df['BasicSalary'].fillna(median_basic_salary, inplace=True)
#This method is called 'median imputation'

In [12]:
new_average_basic_salary = df['BasicSalary'].mean()
print(f"New Average BasicSalary is: {new_average_basic_salary}")

New Average BasicSalary is: 66328.52925904

7. How many outliers are there in the TotalPay column?

In [14]:
Q1 = df['TotalPay'].quantile(0.25)
Q3 = df['TotalPay'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = df[(df['TotalPay'] < lower_bound) | (df['TotalPay'] > upper_bound)]
num_outliers = len(outliers)
print(f"Number of outliers in the 'TotalPay' column: {num_outliers}")
print(IQR)
print(upper_bound)

Number of outliers in the 'TotalPay' column: 1283
69719.18
210424.83

<h3><center>End of Question 1</center></h3>